<div class="pt-4">
  {% for item in navigation.menu %}
    {%
      liquid

      # MENU GROUP
      assign group = item.title | slugify | prepend: '/' | append: '/'
      # SKIP GROUP
      unless page.url contains group
        continue
      endunless
      # MENU GROUP LOCATION
      assign menu_index = forloop.index
      assign menu_last = forloop.last
    %}
    {% for link in item.links %}
      {%
        liquid

        # SKIP LINKS
        unless link.url == page.url
          continue
        endunless

        # PREV AND NEXT
        if link.url == page.url
          # PREV LINK
          if forloop.first
            assign prev_index = menu_index | minus: 2
            assign prev = navigation.menu[prev_index].links | last
          else
            assign prev_index = menu_index | minus: 1
            assign prev_link = forloop.index0 | minus: 1
            assign prev = item.links[prev_link]
          endif
          # NEXT LINK
          if menu_last and forloop.last
            assign open_index = 0
            assign next = navigation.menu[0].links | first
          elsif forloop.last
            assign open_index = menu_index
            assign next = navigation.menu[menu_index].links | first
          else
            assign open_index = nil
            assign next_index = forloop.index0 | plus: 1
            assign next = item.links[next_index]
          endif
        endif
      %}
      <div class="row jc-between mt-5 mb-3 navigators">
        <div class="col-auto">
          {% unless menu_index == 1 and forloop.index == 1 %}
            <a
              spx-position="y:0"
              href="{{ prev.url | url }}"
              spx-data:group="{{ prev_index }}"
              class="btn prev">
              <span class="mr-2">
                {% svg 'chevron-left', 'icon icon-left' %}
              </span>
              {{ prev.title }}
            </a>
          {% endunless %}
        </div>
        <div class="col-auto">
          <a
            class="btn next"
            spx-position="y:0"
            href="{{ next.url | url }}"
            {% if open_index != nil %}
              spx-data:group="{{ open_index }}"
            {% endif %}>
            {{ next.title }}
            <span class="ml-2">
              {% svg 'chevron-right', 'icon icon-right' %}
            </span>
          </a>
        </div>
      </div>

      {% break %}

    {% endfor %}
  {% endfor %}
</div>