{% comment %}
  HEADER
{% endcomment %}
<div class="sidebar-header">
  <div class="row jc-between ai-center w-100">
    <a
      href="/"
      class="col-auto tc-sm"
      spx-target="body">
      {% svg 'logo', 'icon-logo' %}
    </a>

    {% comment %}
      <div class="col-auto pt-sm-2 d-none">
      {% include 'version' %}
      </div>
    {% endcomment %}

    <a
      class="col-auto tr pr-0"
      href="{{ navigation.github.url }}"
      data-tooltip="right"
      aria-label="Github"
      target="_blank">
      {% svg 'github', 'icon-github' %}
    </a>
  </div>
</div>

{% comment %}
  MENU
{% endcomment %}

<nav
  id="menu"
  class="sidebar-menu mt-0 mb-2 br-0 bt-0"
  data-relapse="sidebar">

  {% for item in navigation.menu %}

    {% assign group = item.title
      | slugify
      | prepend: '/'
      | append: '/' %}

    {% if item.url %}
      <a
        spx-scroll="0"
        class="menu-link"
        href="{{ item.url | url }}"
        {% if page.url contains item.url %}
          aria-expanded="true"
          class="menu-link active"
        {% else %}
          class="menu-link"
        {% endif %}>
        {{ item.title }}
      </a>
    {% else %}
      <button
        type="button"
        {% if page.url contains group %}
          aria-expanded="true"
          class="menu-link active"
        {% else %}
          class="menu-link"
        {% endif %}>
        {{ item.title }}
      </button>
    {% endif %}

    <section class="rel">
      <ul
        class="list"
        {% unless page.url contains group %}
          hidden="true"
        {% endunless %}>
        {% for link in item.links %}
          <li>
            {% if link.links %}
              <div data-relapse>
                <button
                  type="button"
                  class="menu-link"
                  {% if page.url contains link.group %}
                    open="true"
                  {% endif %}>
                  {{ link.title }}
                </button>
                <section>
                  <ul class="child-list pl-2">
                    {% for child in link.links %}
                      <li class="pl-1">
                        <a
                          spx-scroll="0"
                          href="{{ child.url | url }}"
                          {% if page.url contains child.url %}
                            class="active"
                          {% endif %}>
                          {{ child.title }}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                </section>
              </div>
            {% else %}
              <a
                spx-scroll="0"
                href="{{ link.url | url }}"
                aria-disabled="true"
                {% if page.url contains link.url %}
                  class="active"
                {% endif %}>
                {{ link.title }}
              </a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </section>
  {% endfor %}
</nav>

{% comment %}
  VERSION
{% endcomment %}
<div class="sidebar-footer w-100">
  <div class="row">
    <div class="col tc">
      version {% version %}
    </div>
  </div>
</div>