<!DOCTYPE html>
<html lang="en">

  <head>
    <title>
      {{ title }}
    </title>

    <meta charset="UTF-8">
    <meta
      name="description"
      content="{{ description }}">
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0">

    <link
      href="{{'/style.css' | url }}"
      spx-eval="false"
      rel="stylesheet">

    <script
      src="{{ script | url }}"
      spx-eval="false"
      async></script>

  </head>
  <body>
    {{ content }}
  </body>
</html>