---
title: 'Alias'
layout: index.liquid
group: 'directive'
permalink: '/components/async/index.html'
---

<h4 class="fw-bold pb-3 mb-4 bb">
  Async Lifecycles
</h4>

<p>
  Component methods of
  <code class="fs-md">oninit</code>
  and
  <code class="fs-md">onload</code>
  loading after asynchronous tasks complete
</p>

<div class="row mt-4 g-0">
  <div class="col-5 bx bb">
    {% for number in (1..6) %}
      {% assign delay = 2 %}

      {% if number == 2 %}
        {% assign delay = 3 %}
      {% endif %}

      <div
        spx-component="async"
        spx-async:no-delay="{% if forloop.first %}true{% else %}false{% endif %}"
        spx-async:load-delay="{{ delay }}000"
        spx-async:init-delay="{{ delay | plus: 1 }}000">
        <h6 class="fw-bold pl-3 py-2 mb-2 by">Async Component #{{ number }}</h6>
        <div
          class="row ai-center jc-start mb-3 pl-3"
          style="height: 35px;">
          <code
            class="col-6"
            spx-node="async.init"></code>
          <code
            class="col-6"
            spx-node="async.load"></code>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="col-5 br bb">
    {% for number in (7..12) %}

      {% assign delay = 3 %}

      {% if number == 7 %}
        {% assign delay = 2 %}
      {% elsif number > 8 and number < 10 %}
        {% assign delay = 4 %}
      {% endif %}

      <div
        spx-component="async2"
        spx-async:no-delay="{% if forloop.first %}true{% else %}false{% endif %}"
        spx-async:load-delay="{{ delay }}000"
        spx-async:init-delay="{{ delay | plus: 1 }}000">
        <h6 class="fw-bold pl-3 py-2 mb-2 by">Async Component #{{ number }}</h6>
        <div
          class="row ai-center jc-start mb-3 pl-3"
          style="height: 35px;">
          <code
            class="col-6"
            spx-node="async2.init"></code>
          <code
            class="col-6"
            spx-node="async2.load"></code>
        </div>
      </div>
    {% endfor %}
  </div>
</div>