<!DOCTYPE html>
<html lang="en">

  <head>
    <title>
      {{ title }}
    </title>

    <meta charset="UTF-8">
    <meta
      name="description"
      content="{{ description }}">
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0">
    <link
      href="https://fonts.googleapis.com"
      rel="preconnect">
    <link
      href="https://fonts.gstatic.com"
      crossorigin
      rel="preconnect">
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap"
      rel="stylesheet"
      spx-eval="false">
    <link
      href="{{ '/style.css' | url }}"
      spx-eval="false"
      rel="stylesheet">
    <script
      src="{{ '/iframe.min.js' | url }}"
      spx-eval="false"
      async></script>
  </head>

  <body class="iframe-bg">
    <div class="container-fluid pl-3 pr-0">
      <div class="row gx-0">
        <div class="col rel vh-100">

          {% if links %}

            <nav class="rd bg-code py-2 pl-4 mr-3 my-3">
              <ul
                class="list-pipe py-1 mb-0"
                id="menu">
                {% for link in iframes[links].links %}
                  <li>
                    <a
                      href="{{ link.url }}"
                      {% if page.url == link.url %}
                        class="fc-blue"
                      {% endif %}
                      {% if link.disable %}
                        spx-disable="true"
                      {% endif %}>
                      {{ link.title }}
                    </a>
                  </li>
                {% endfor %}
                <li class="ml-auto mr-3">
                  <button
                    type="button"
                    data-tooltip="left"
                    aria-label="Reload IFrame"
                    class="btn p-0 iframe-refresh"
                    onclick="location.reload()">
                    {% svg 'refresh', 'icon-refresh' %}
                  </button>
                </li>
              </ul>
            </nav>

          {% endif %}

          <div
            class="d-block my-4 pr-5 pl-3"
            id="main">
            {{ content }}
          </div>

          <footer class="iframe-footer iframe-bg bt w-100">
            <div class="row gx-0 jc-between px-3">
              <div class="col-auto pt-3 upper fs-xs fc-gray fw-bolder tc">
                {{ meta.name }}
              </div>
              <div class="col-auto pt-3 upper fs-xs fc-gray fw-bolder tc">
                {{ name }}
              </div>
            </div>
          </footer>
        </div>

        {% if logger %}

          <div
            class="col-auto pr-0 bl"
            spx-component="iframe">
            <div
              class="hook-events d-block px-2 py-4"
              spx-node="iframe.log"></div>
          </div>

        {% endif %}
      </div>
    </div>

    {% sprite %}
  </body>
</html>