{%- if page.url == '/' -%}
  {%- assign is_open = 'false' -%}
  {%- assign hidden = 'false' -%}
  {%- assign active = '' -%}
{%- else -%}
  {%- assign is_open = 'true' -%}
  {%- assign hidden = 'true' -%}
  {%- assign active = 'drawer-active' -%}
{%- endif -%}

<aside
  id="main-menu"
  data-drawer-is-open-value=" {{- is_open }}"
  class="drawer-panel drawer-left {{ active }} sidebar py-3 vh-100 bd-right"
  data-controller="drawer">

  <div class="container-fluid g-0">
    <div class="row ai-center jc-center mb-4 px-4">
      <a href="/" class="col-auto pr-1" data-spx-target="['body']">
        {% svg "logo", 'logo' %}
      </a>
      <span class="col-auto logo-text as-end upper italic">Single Page XHR</span>
    </div>

    <form class="mx-4">
      <input class="form-input form-input-sm rad-1" type="search" placeholder="Search...">
    </form>

    <nav
      class="accordion mt-3 mb-2"
      data-accordion-collapsible-value="true"
      data-accordion-multiselect-value="false"
      data-controller="accordion">

      {%- assign pages = collections.all | sort: 'data.position' -%}

      {%- for page in pages %}

        {%- unless page.data.title and page.data.sidebar -%}
          {%- continue -%}
        {%- endunless -%}

        <a
          class="accordion-button d-flex jc-between btn ff-base pl-0"
          data-spx-proximity
          href=" {{- page.url }}">
          <span>{{ page.data.title }}</span>
          {% svg "chevron-right", 'icon icon-close' %}
          {% svg "chevron-down", 'icon icon-open' %}
        </a>

        <div class="accordion-content">
          <ul class="accordion-inner px-4 py-1 ml-0" id="{{- page.data.title | slugify -}}">
            {%- for item in page.data.sidebar %}
              <li class="pt-1 pl-3">

                <a href="{{ item | slugify | prepend: '#' }}">

                  {%- if item contains 'data-' -%}
                    {{- item | replace: '-', '<span class="fc-gray">–</span>'-}}
                  {%- elsif item contains 'spx:' -%}
                    {{- item | replace: ':', '<span class="fc-gray">:</span>'-}}
                  {%- else -%}
                    {{- item -}}
                  {%- endif -%}

                </a>
              </li>
            {%- endfor -%}
          </ul>
        </div>

      {%- endfor -%}

    </nav>
  </div>
</aside>
