{% if page.url == '/' %}
  {% assign is_open = 'false' %}
  {% assign hidden = 'false' %}
  {% assign active = '' %}
{% else %}
  {% assign is_open = 'true' %}
  {% assign hidden = 'true' %}
  {% assign active = 'drawer-active' %}
{% endif %}

<div class="container-fluid g-0 vh-100">

  <div class="row ai-end px-3 py-sm-4">

    <a
      href="/"
      class="col tc d-none d-sm-block"
      spx-target="['body']">
      {% svg "logo", 'logo' %}
    </a>

    <div class="col-auto fs-xs upper pl-1 italic d-none">
      Single Page XHR
    </div>

    <small
      href="{{ '/' | url }}"
      class="col tr fs-xs uncase pl-0 pb-2 d-none">
      VER 0.1.0
    </small>

    <a
      href="{{ '/' | url }}"
      class="col tr fw-bolder uncase pl-0 pr-3 d-none">
      {% svg "github", 'home' %}
    </a>

  </div>

  <nav
    class="accordion mt-0 mb-2 br-0"
    spx-morph="children"
    data-controller="accordion">

    {% for group in links.groups %}

      {% liquid

        assign name = group | downcase

        if page.url contains name
          assign open = true
        else
          assign open = false
        endif
      %}

      <button
        spx-morph="children"
        class="accordion-btn px-3 py-2 {% if open %}initial{%- endif -%}">
        {{ group }}
      </button>

      <div
        spx-morph="children"
        class="accordion-fold bg-code {% if open %}expanded{%- endif -%}">
        <ul
          class="list-dash py-4 pl-3"
          id="{{ link.title | slugify }}">
          {% for item in links.urls %}
            {% if item.group == name %}
              <li class="pt-1 pl-2">
                <a
                  href="{{ item.url }}"
                  spx-position="y:0"
                  {% if page.url == item.url %}
                    class="fc-blue"
                  {% endif %}>
                  {{ item.title }}
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>

    {% endfor %}

  </nav>

</div>