---json
{
  "menu": [
    {
      "title": "Options",
      "links": [
        {
          "title": "Fragments",
          "url": "/options/fragments/"
        }
      ]
    },
    {
      "title": "Components",
      "links": [
        {
          "title": "Basic",
          "url": "/components/basic/"
        },
        {
          "title": "Async",
          "url": "/components/async/"
        },
        {
          "title": "Types",
          "url": "/components/types/"
        },
        {
          "title": "Merge",
          "url": "/components/merge/"
        },
        {
          "title": "Alias",
          "url": "/components/alias/"
        },
        {
          "title": "Lifecycle",
          "url": "/components/lifecycle/"
        },
        {
          "title": "Incremental",
          "url": "/components/incremental/"
        }
      ]
    }
  ]
}
---
<!DOCTYPE html>
<html lang="en">

  <head>
    <title>
      {{ title }}
    </title>

    <meta charset="UTF-8">
    <meta
      name="description"
      content="{{ description }}">
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0">

    <link
      href="{{'/style.css' | url }}"
      spx-eval="false"
      rel="stylesheet">

    <script
      src="{{'/bundle.js' | url }}"
      spx-eval="false"
      async></script>

  </head>
  <body>
    <div class="container">
      <div class="row">
        <aside
          class="col-auto vh-100 br abs pt-5 px-5"
          id="sidebar">
          {% for item in menu %}
            <strong class="upper">
              {{ item.title }}
            </strong>
            <ul class="list-dash my-3">
              {% for link in item.links %}
                <li>
                  <a
                    href="{{ link.url }}"
                    {% if page.url == link.url or link.url == base %}
                      class="fw-bold"
                    {% else %}
                      class="fc-dark-gray"
                    {% endif %}>
                    {{ link.title }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          {% endfor %}
        </aside>
        <main
          class="col offset-2 pl-5 py-5"
          id="main">
          {{ content }}
        </main>
      </div>
    </div>
  </body>
</html>